<a href="/cities/<%= @city.id %>">Back</a><br><br>

<h1><%= @city.name %> Hostels</h1>


<a href="/cities/<%= @city.id %>/hostels?order=name">Sort</a>

<% @hostels.each do |hostel| %>
  <h2><%= hostel.name %></h2>
  <p>Vacancies: <%= hostel.vacancies %></p>
  <p>Max Occupancy: <%= hostel.max_occupancy %></p>
  <p>Date Added: <%= hostel.created_at %></p>
  <p>Updated: <%= hostel.updated_at %></p>
<% end %>

<a href="/cities/<%= @city.id %>/hostels/new">Add Hostel</a>
