<a href="/cities/<%= @city.id %>">Back</a>
<h1>Update <%= @city.name %></h1>

<%= form_with url: "/cities/#{@city.id}", method: :patch, local:true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, value: @city.name %><br>

  <%= form.label :travel_advisory %>
  <%= form.check_box :travel_advisory, value: @city.travel_advisory%><br>

  <%= form.label :population %>
  <%= form.number_field :population, value: @city.population %><br>

  <%= form.submit "Update" %>
<% end %>
