<a href="/cities">Cities Index</a>

<h1><%= @city.name %></h1>

<p>Travel Advisory: <%= @city.travel_advisory %></p>
<p>Population: <%= @city.population %></p>
<p>Number of Hostels: <%= @city.hostels.count %></p>
<p>Date Added: <%= @city.created_at %></p>
<p>Updated: <%= @city.updated_at %></p>

<a href="/cities/<%= @city.id %>/hostels"><%= @city.name %> Hostels</a>
