<a href="/cities">Cities Index</a>

<h1><%= @city.name %></h1>

<p>Travel Advisory: <%= @city.travel_advisory = true ? 'Yes' : 'No' %></p>
<p>Population: <%= @city.population %></p>
<p>Date Added: <%= @city.created_at %></p>
<p>Updated: <%= @city.updated_at %></p>
