<a href="/hostels">Hostel Index</a>

<h1><%= @hostel.name %></h1>
<p>Vacancies: <%= @hostel.vacancies == true ? 'Yes' : 'No' %></p>
<p>Max Occupancy: <%= @hostel.max_occupancy %></p>
<p>Added: <%= @hostel.created_at %></p>
<p>Updated: <%= @hostel.updated_at %></p>
